<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$Think.config.admin_web_static}lib/html5.js"></script>
<script type="text/javascript" src="{$Think.config.admin_web_static}lib/respond.min.js"></script>
<script type="text/javascript" src="{$Think.config.admin_web_static}lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{$Think.config.admin_web_static}static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.admin_web_static}static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.admin_web_static}lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.admin_web_static}lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.admin_web_static}static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="{$Think.config.admin_web_static}static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>修改密码 - 会员管理 - H-ui.admin v2.3</title>
<meta name="keywords" content="H-ui.admin v2.3,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v2.3，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form action="/" method="post" class="form form-horizontal" id="form-change-password">
		<input type="hidden" value="{$member.memberId}" id="memberId">
		<input type="hidden" value="{$member.password}" id="opwd">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
			<div class="formControls col-xs-8 col-sm-9">{$member.memberName}</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>昵称：</label>
			<div class="formControls col-xs-8 col-sm-9">{$member.nickName}</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>旧密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="请输入旧密码" name="password_old" id="password_old">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="请输入新密码" name="newpassword" id="newpassword">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="请确认新密码" name="newpassword2" id="new-password2">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{$Think.config.admin_web_static}lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="{$Think.config.admin_web_static}lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="{$Think.config.admin_web_static}lib/icheck/jquery.icheck.min.js"></script> 
 
<script type="text/javascript" src="{$Think.config.admin_web_static}lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="{$Think.config.admin_web_static}lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="{$Think.config.admin_web_static}lib/jquery.validation/1.14.0/messages_zh.min.js"></script> 

<script type="text/javascript" src="{$Think.config.admin_web_static}static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="{$Think.config.admin_web_static}static/h-ui.admin/js/H-ui.admin.js"></script> 
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
//刷新父级
function closedangqian(){
	parent.location.reload();
}
$(function(){
	$("#form-change-password").validate({
		rules:{
			password_old:{
				required:true,
				equalTo: "#opwd"
			},
			newpassword:{
				required:true,
				minlength:6,
				maxlength:16
			},
			newpassword2:{
				required:true,
				minlength:6,
				maxlength:16,
				equalTo: "#newpassword"
			},
		},
		messages: {
	      password_old: "旧密码输入不符",
	      newpassword: {
	        required: "请输入密码",
	        minlength: "密码长度不能小于 5 个字母"
	      },
	      newpassword2: {
	        required: "请输入密码",
	        minlength: "密码长度不能小于 5 个字母",
	        equalTo: "两次密码输入不一致"
	      }
	    },
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			var data = {
				"memberId" : $('#memberId').val(),
				"password" : $('#new-password2').val()
			};
			var index = parent.layer.getFrameIndex(window.name);
			$.ajax({
				url:"{:url('modify_password')}",
				data:data,
				type:"POST",
				success:function(msg){
					if(msg==1){
						Huimodal_alert("密码修改成功！",2000);
						setTimeout("closedangqian()",2000);
					}else{
						Huimodal_alert("密码修改失败！",2000);
						setTimeout("closedangqian()",2000);
					}
				}
			});
		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>