<!--S 底部-->
<div id="footer">
	<div class="foot-info w1200">
		<ul>
			<li>
				<div class="a-icon a1"><i class="icon iconfont">&#xe608;</i></div>
				<p class="p1">正品保障</p>
				<p>正品行货 放心选购</p>
			</li>
			<li>
				<div class="a-icon a2"><i class="icon iconfont">&#xe6d8;</i></div>
				<p class="p1">满68包邮</p>
				<p>满68元 免运费</p>
			</li>
			<li>
				<div class="a-icon a3"><i class="icon iconfont">&#xe628;</i></div>
				<p class="p1">售后无忧</p>
				<p>7天无理由退货</p>
			</li>
			<li>
				<div class="a-icon a4"><i class="icon iconfont">&#xe600;</i></div>
				<p class="p1">准时送达</p>
				<p>收货时间由你做主</p>
			</li>
		</ul>
	</div>
	<div class="foot-link w1200">
		<ul class="lianxi">
			<h1>联系我们</h1>
			<li>
				联系电话：020-123456798
			</li>
			<li>
				服务时间：09:00 AM ~ 22:00 PM
			</li>
			<li>
				地址：收货时间由你做主收货时间由你做主收货时间由你做主收货时间由你做主
			</li>
		</ul>
		<ul class="guanyu">
			<h1>关于我们</h1>
			<li>
				<a href="">关于我们</a>
			</li>
			<li>
				<a href="">关于我们</a>
			</li>
			<li>
				<a href="">关于我们</a>
			</li>
			<li>
				<a href="">关于我们</a>
			</li>
		</ul>
		<div class="qrCode">
			<h1>关注我们</h1>
			<div class="code">
				<img src="{$Think.config.index_web_static}images/qrcode.jpg" alt="SHOP商城">
				<span>扫码关注</span>
			</div>
		</div>
		<div class="foot-logo">
			<h1>SHOP商城</h1>
			<div class="logo">
				SHOP
			</div>
		</div>
	</div>
	<div class="copy">
		COPYRIGHT &copy; 2016, SHOP . All RIGHTS RESERVED.SHOP商城 桂ICP备123456789号-1
	</div>
</div>
<!--E 底部-->
<!--S 其它-->
<div id="backTop"></div>
<!--E 其它-->