<!--S 头部-->
<div id="header">
	<div class="site-nav border-bottom">
		<div class="site-nav-cont w1200">
			<span>欢迎来到shop商城！</span>
			<ul class="quick-menu right">
				<li><a href="{:url('index/index/register')}">注册</a></li>
				<li><a href="{:url('index/index/login')}">登录</a></li>
				<li><a href="">我的订单</a></li>
				<li class="dropdown">
					<a href="">帮助中心<i class="icon iconfont">&#xe616;</i></a>
					<ul>
						<li><a href="">帮助中心1</a></li>
						<li><a href="">帮助中心2</a></li>
					</ul>
				</li>
				<li><a href="">收藏本站</a></li>
				<li>客服热线：020-123456789</li>
			</ul>
		</div>
	</div>
	<div class="header-content w1200">
		<div class="logo left">
			<a href="{:url('index/index/index')}">SHOP</a>
		</div>
		<div class="user-operation right">
			<ul>
				<li><a href=""><i class="icon iconfont">&#xe6fa;</i> 个人中心</a></li>
				<li><a href=""><i class="icon iconfont">&#xe63f;</i> 购物<span>0</span>车</a></li>
			</ul>
		</div>
		<div class="search-box right">
			<div class="search left"><input type="text" placeholder="请输入关键字进行搜索"></div>
			<button class="right">搜 索</button>
		</div>
	</div>
	<div id="nav">
		<div class="nav-content w1200">
			<div class="all-type">
				<h1 class="left">全部分类 <i class="icon iconfont">&#xe616;</i></h1>
				<ul class="type">
					<li>
						<a href="">分类1</a> <a href="">分类1</a>
						<i class="icon iconfont t-r">&#xe652;</i>
						<div class="type-2"></div>
					</li>
					<li>
						<a href="">分类1</a> <a href="">分类1</a>
						<i class="icon iconfont t-r">&#xe652;</i>
					</li>
					<li>
						<a href="">分类1</a> <a href="">分类1</a>
						<i class="icon iconfont t-r">&#xe652;</i>
					</li>
					<li>
						<a href="">分类1</a> <a href="">分类1</a>
						<i class="icon iconfont t-r">&#xe652;</i>
					</li>
					<li>
						<a href="">分类1</a> <a href="">分类1</a>
						<i class="icon iconfont t-r">&#xe652;</i>
					</li>
				</ul>
			</div>
			<ul class="main-nav left">
				<li class="on">
					<a href="">首页</a>
				</li>
				<li>
					<a href="{:url('index/index/shopList')}">新品上市</a>
				</li>
				<li>
					<a href="">促销中心</a>
				</li>
				<li>
					<a href="">最热</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--E 头部-->